<nav class="navbar navbar-expand-md bg-body-light border-bottom border-top sticky-top ">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><i class="fa-brands fa-square-instagram"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="/posts">Home</a>
          <a class="nav-link" href="/posts">All Posts</a>
          <a class="nav-link" href="/posts/new">Add new</a>
          <a class="nav-link" target="_blank" href="https://www.instagram.com/its_ashish_prajapat_?igsh=MWZldmM4YmJhdnUwMA==">Insta</a>
          <a class="nav-link" href="/about">about me</a>
          <a class="nav-link" href="/login">Login</a>
        </div>
      </div>
    </div>
  </nav>