<!-- < layout('layouts.boilerplate.ejs') %> -->
<%  layout("./layouts/boilerplate.ejs") %> 
<body>
    <h3>Ashish Prajapat</h3>
    
    <img src="views/IMG_20240716_093852_834.jpg" alt="ashish">
    <div class="bio">
        <p>My self is Ashish Prajapat.</p>
    </div>
</body>
</html>