<%- layout("layouts/boilerplate.ejs") %>
<body>
    <h1>login</h1>
    <form method="post" action="/login">
    <input type="text" placeholder="Email or Username"  name="user[username]"><br> <br>
    <input type="password" placeholder="Enter password" name="user[passward]"><br> <br>
    <button id="Submit">Submit</button>
</form>
</body>
</html>