<%  layout("./layouts/boilerplate.ejs") %> 
<body>
    <div class="newForm">
    <form method="post" action="/posts" >
        <input type="text" name="listing[name]" id="" placeholder="Enter your Name"> <br> <br>
        <input required type="text" name="listing[img]" placeholder="Enter img url"> <br> <br>
        <textarea name="listing[discription]" id="" rows="10" cols="40" placeholder="Enter content"></textarea><br><br>
        <input type="date" name="listing[date]" id=""><br>
        <br>
        <button id="Submit">Submit</button>
    </form>
</div>
</body>